/*$first-color : #f1404b;
$second-color : #dddfe6;
$third-color : #f4f5f9;
$fird-color : #252c41;*/
$first-color : #ee2560;
$second-color : #45d9fd;
$third-color : #f4f4f4;
$fird-color : #08182b;

$font-family: 'Slackey', serif;

body{
	background-color: $third-color;
	background: url(/planeticket/assets/images/header1.jpg) no-repeat center fixed; 
}
header {
	//background: url(/planeticket/assets/images/header1.jpg) no-repeat center fixed; 
	height: 250px;
	h1 {
		font-family: $font-family;
    	font-size: 50pt;
    	text-align: center;
    	color: #fff;
    	text-shadow: 5px 5px 5px $first-color;
	}

}

.home {
	margin: 50px;
	font-family: $font-family;
	font-size: 20pt;
	text-align: center;
	color: #fff;
	background-color: $first-color;
	//text-shadow: 5px 5px 5px $first-color;
}

.container-inner{
	height: 600px;
	.nav li a {
		font-family: $font-family;
		//text-shadow: 5px 5px 2px $first-color;
		font-size: 15pt;
	}
	
}

.tab-content {
	padding: 5px;
	background-color: $first-color;
	height: 100%;
	label{
		color: #fff;
		font-size: 15pt;
		font-family: $font-family;
	}
}

/****  Caroussel ****/
.flyOKClass {
	//border : 5px solid green;
	box-shadow: 2px 2px 5px  $second-color;
}

.flyKOClass {
	
	box-shadow: 0px 0px 0px  $second-color;
}

.carousel{
	.item {
		
		height: 400px;
		margin: 5px;
		border: 5px solid #fff;
		label {
			margin: 10px;
			font-family: $font-family;
	    	font-size: 20pt;
	    	text-align: center;
	    	color: #fff;
	    	text-shadow: 5px 5px 5px $first-color;
		}
		
	}
}

.portfolio {
		width: 100%;
		height: 200px;
		margin: 5px;
		border: 5px solid #fff;
		font-family: $font-family;
    	font-size: 20pt;
    	text-align: center;
    	color: #fff;
    	text-shadow: 5px 5px 5px $first-color;
	}
.portfolio:hover{
	border: 5px solid $second-color;
}

.modal-body {
    height: 100%;
}

.synthese {
	background-color: $first-color;
	height: auto;
	h2 {
		margin: 10px;
		font-size: 20pt;
		text-align: center;
		text-decoration: underline;
		font-family: $font-family;
		color: #fff;
	
	}
	label {
		margin: 5px;
		font-size: 12pt;
		text-align: left;
		font-family: $font-family;
		color: #fff;
	}

	.syntVol{
		margin : 2px;
		padding: 5px;
		width: 150px;
		height: 180px;
		float: left;
		box-shadow: 2px 2px 5px #fff;

		button {
			float: right;
		}
	}

}

footer {
	section {
		h3 {
			font-family: $font-family;
	    	font-size: 10pt;
	    	text-align: center;
	    	color: #fff;
	    	text-shadow: 5px 5px 5px $first-color;
		}
		
		ul {
			list-style-type: none;
			li a {
				color: #ffffff;
			}
		}
		color: #ffffff;
	
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    height: 250px;
	    width: 100%;
	    background-color: $fird-color;			
	}
}



/*****     MEDIA QUERIES *****/
/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 992px) {
	.portfolio img {
		width: 500px;
		height: 100px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation:landscape){

	.portfolio img {
		width: 800px;
		height: 200px;
	}
 }


/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 993px) {

	.portfolio img {
		width: 200px;
		height: 100px;
	}

}